* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

html {
  font-family: "Lato", "Arial", sans-serif;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}

body {
  color: #6dfd4f;
  background-color: #0b0f0a;
  font-size: 18px;
}

::-webkit-scrollbar {
  width: 8px;
  background: none;
  box-shadow: none;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #affe96;
}

.leaderboard {
  /* overflow: hidden */
  overflow-y: scroll;
}
.leaderboard header h1 {
  display: block;
  margin: 0.4em;
  color: lightgreen;
}
.leaderboard main div, .leaderboard main a {
  display: inline-block;
  vertical-align: top;
}
.leaderboard main .col-one {
  margin-left: 0.5em;
  width: 61%;
  min-width: 510px;
}
.leaderboard main .col-one h2 {
  top: 1%;
  left: 1.5%;
}
.leaderboard main .col-one div {
  overflow-x: hidden;
  overflow-y: auto;
  z-index: -1;
  width: 60vw;
  min-width: 510px;
}
.leaderboard main .col-one div div {
  display: flex;
  justify-content: flex-start;
}
.leaderboard main .col-one div div h3 {
  color: #f7f7f7;
}
.leaderboard main .col-one div div .name {
  width: 35%;
}
.leaderboard main .col-one div div .email {
  width: 54%;
}
.leaderboard main .col-one div div .score {
  width: 5%;
}
.leaderboard main .col-two {
  width: 27%;
  min-width: 260px;
}
.leaderboard main .col-two h2 {
  top: 1%;
  left: 1.5%;
}
.leaderboard main .col-two p {
  overflow: auto;
  position: absolute;
  width: 25%;
  min-width: 260px;
  z-index: -1;
}
.leaderboard main a button {
  margin-top: 10px;
  position: relative;
  top: 3vh;
  right: 1vw;
  background-color: #062200;
  border: none;
  color: white;
  padding: 0.6em 2em;
  text-align: center;
  font-size: 1em;
  font-weight: 9000;
  cursor: pointer;
  transition: all 0.3s linear;
}
.leaderboard main a button:hover {
  background-color: white;
  color: #146e01;
}
.leaderboard main h2 {
  position: relative;
  color: #35fc0c;
  background-color: #040e00;
  width: fit-content;
  z-index: 1;
}
.leaderboard main .frame {
  height: 85vh;
  border: dotted #6dfd4f;
}

.gameplay .input {
  position: absolute;
  top: 100vh;
  transform: translate(0px, -35px);
  margin-left: 5px;
}
.gameplay .input input {
  display: inline-block;
  width: 230px;
  height: 30px;
}
.gameplay .input h2 {
  display: inline-block;
  margin-left: 10px;
}
.gameplay #score {
  width: 120px;
  margin: 6px;
}
.gameplay #time {
  position: absolute;
  top: 40%;
  left: 50%;
}

body .save {
  position: absolute;
  top: 100vh;
  left: 100vw;
  transform: translate(-520px, -155px);
  color: white;
  height: 155px;
  width: 500px;
  border: dotted #6dfd4f;
}
body .save .save-b {
  background-color: #040e00;
  color: #6dfd4f;
  margin-left: 2px;
  padding: 4px;
  cursor: pointer;
  transition: all 0.3s linear;
}
body .save .save-b:hover, body .save .save-bactive {
  background-color: #6dfd4f;
  color: #040e00;
}
body .save .margin {
  margin-left: 2px;
}
body .save .user-n {
  display: inline-block;
}
body .save #invalid {
  display: inline-block;
  color: red;
}

/*# sourceMappingURL=main.css.map */
