{% extends "base.html" %}

{% block head %}
    <title>Login Typing</title>
{% endblock %}

{% block body %}
    <h1 class="title">Typing Game v0.1</h1>

    <h2 class="l-title">LeaderBoard</h2>
    <h2 class="l-instr">Instruction</h2>
    <br>
    <div class="leaderboard">
        <h2 class="name">name</h2>
        <h2 class="email">email(optional)</h2>
        <h2 class="score">score</h2>

        {% for user in users %}
            <h2 class="name">#{{user[0]}} {{user[1]}}</h2>
            <h2 class="email">{{user[2]}}</h2>
            <h2 class="score">{{user[3]}}</h2>
        {% endfor %}
    </div>

    
    <div class="instruction">
        <h2>*თამაშის წესები*</h2>
    </div>

    <a href="/start"><button class="button">Play</button></a>
{% endblock %}
