{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="../static/styles/main.css">

    <title>Login Typing</title>
{% endblock %}

{% block body %}
    <header>
        <h1>Typing Game v0.1</h1>
    </header>

    <main>
        <div class="col-one">
            <h2>LeaderBoard</h2>
            <div class="frame">
                {% for user in users %}
                    <div>
                        <h3 class="name">{{user[0]}} {{user[1]}}</h3> <!-- [#1 username]-->
                        <h3 class="email">{{user[2]}}</h3>
                        <h3 class="score">{{user[3]}}</h3>
                    </div>
                {% endfor %}
            </div>
        </div>
        
        <div class="col-two">
            <h2>Instruction</h2>
            <p class="frame">
                *თამაშის წესები*
            </p>
        </div>

        <div class="col-three">
            <a href="/start"><button>Play</button></a>
        </div>
    </main>
{% endblock %}
