/*     >>>> GAMEPLAY STYLE <<<<
        Dark Green:     0b0f0a
        Light Green:    6dfd4f
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body { height: 100%; width: 100%; }

body {
    color: #6dfd4f;
    background-color: #0b0f0a;
    font-size: 25px;

    .input {
        display: flex;
        justify-content: space-between;

        position: absolute;
        top: 100vh;
        transform: translate(0px, -35px);
        margin-left: 5px;
        width: 500px;
        min-width: 500px;

        #input {
            width: 230px;
            min-width: 160px;
        }
    }

    #score {
        width: 120px;
        margin: 6px;
    }
    
    #time {
        position: absolute;
        top: 40%;
        left: 50%;
    }
    
    /* --------------------------------------------------------- */
    /* SAVE DATA */
    /* --------------------------------------------------------- */

    .save {
        position: absolute;
        color: white;
        height: 150px;
        width: 390px;

        top: 100vh;
        left: 100vw;
        transform: translate(-410px, -150px);
        border: dotted #6dfd4f;

        .save-b {
            background-color: #040e00;
            color: #6dfd4f;
            margin-left: 2px;
        }
        
        .margin {
            margin-left: 2px;
        }
        
        .user-n {
            display: inline-block;
        }

        #invalid {
            display: inline-block;
            color: red;
        }
    }
}
