/*
    Dark Green:     0b0f0a
    Light Green:    6dfd4f
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body { height: 100%; width: 100%; }

html {
    background-color: #040e00;
    color: #3bc900;
    font-family: "Lato", "Arial", sans-serif;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

body {
    /* overflow: hidden; */
    overflow-y: scroll;

    header {
        h1 {
            display: inline-block;
            margin: .4em;
            color: lightgreen;
        }
    }

    main {
        .col-one {
            display: inline-block;
            vertical-align: top;
            margin-left: .5em;
            height: 85vh;
            width: 61%;
            min-width: 510px;

            h2 {
                top: 1%;
                left: 1.5%;
            }
            div {
                overflow: auto;
                position: absolute;
                z-index: -1;
                width: 60%;
                min-width: 510px;

                div {
                    display: flex;
                    justify-content: flex-start;
                    align-items: left;
    
                    h3 {
                        color: #f7f7f7;
                    }
    
                    .name {
                        width: 35%;
                        margin-left: 3px;
                    }
                    
                    .email {
                        width: 54%;
                    }
                    
                    .score {
                        width: 5%;
                    }
                }
            }
        }
        
        .col-two {
            display: inline-block;
            vertical-align: top;
            height: 85vh;
            width: 27%;
            min-width: 260px;

            h2 {
                top: 1%;
                left: 1.5%;
            }

            p {
                overflow: auto;
                position: absolute;
                width: 25%;
                min-width: 260px;
                z-index: -1;
            }
        }
        
        .col-three {
            display: inline-block;
            vertical-align: top;
            height: 85vh;
            /* width: 10%; */

            a button {
                position: relative;
                top: 3.5%;
                right: 30%;

                background-color: #4CAF50;
                border: none;
                color: white;
                padding: .7em 1.6em;
                text-align: center;
                font-size: .8em;
                cursor: pointer;
            }
        }

        h2 {
            position: relative;
            color: #35fc0c;
            background-color: #040e00;
            width: fit-content;
            z-index: 1;
        }

        .frame {
            height: 85vh;
            border: dotted #6dfd4f;
        }
    }
}

::-webkit-scrollbar {
    width: 10px;
    background: none;
    box-shadow: none;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #051a00;
}
